# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docuser

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

# Visual Studio / VS Code folders
.vs/
.vscode/

# Project artifacts
obj/
bin/